/* 1250 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}